# Chapter 11: Time Series

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

## 11.1 Date and Time Data Types and Tools

In [2]:
now = datetime.now()
now

datetime.datetime(2021, 2, 16, 13, 22, 31, 451696)

In [3]:
now.year, now.month, now.day

(2021, 2, 16)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [5]:
delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta

start = datetime(2011, 1, 7)

In [9]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Coverting Between String and Datetime

In [11]:
stamp = datetime(2011, 1, 3)

In [12]:
str(stamp)

'2011-01-03 00:00:00'

In [13]:
stamp.strftime('%Y-%m-%d') # time is ISO C89 compatible

'2011-01-03'

In [14]:
value = '2011-01-03'

In [15]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
datestrs = ['7/6/2011', '8/6/2011']

[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [17]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [19]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [20]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [21]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [22]:
idx = pd.to_datetime(datestrs + [None])

In [23]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [24]:
idx[2]

NaT

### 11.2 Time Series Basics

In [25]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.rand(6), index=dates)

ts

2011-01-02    0.685289
2011-01-05    0.193150
2011-01-07    0.070464
2011-01-08    0.904105
2011-01-10    0.858410
2011-01-12    0.910831
dtype: float64

In [26]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [27]:
ts + ts[::2]

2011-01-02    1.370577
2011-01-05         NaN
2011-01-07    0.140929
2011-01-08         NaN
2011-01-10    1.716821
2011-01-12         NaN
dtype: float64

In [28]:
ts.index.dtype

dtype('<M8[ns]')

In [29]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [30]:
stamp = ts.index[2]

ts[stamp]

0.0704644326579571

In [31]:
ts['1/10/2011']

0.8584104902386421

In [32]:
ts['20110110']

0.8584104902386421

In [33]:
longer_ts = pd.Series(np.random.randn(1000),
                     index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.071342
2000-01-02    0.401372
2000-01-03    1.080379
2000-01-04   -0.221926
2000-01-05    0.073943
                ...
2002-09-22   -0.488580
2002-09-23   -0.779370
2002-09-24   -0.321340
2002-09-25    0.709072
2002-09-26    0.085259
Freq: D, Length: 1000, dtype: float64

In [34]:
longer_ts['2001']

2001-01-01   -0.425801
2001-01-02   -0.824603
2001-01-03   -0.525823
2001-01-04    2.403627
2001-01-05   -2.210114
                ...
2001-12-27   -0.226290
2001-12-28    1.271410
2001-12-29    0.395950
2001-12-30    1.017530
2001-12-31   -1.599157
Freq: D, Length: 365, dtype: float64

In [35]:
longer_ts['2001-05']

2001-05-01    0.191298
2001-05-02   -1.862547
2001-05-03   -1.749318
2001-05-04   -0.669624
2001-05-05    0.354429
2001-05-06    0.794999
2001-05-07    0.390212
2001-05-08   -0.156847
2001-05-09    0.206096
2001-05-10   -1.644907
2001-05-11   -0.617030
2001-05-12    0.292079
2001-05-13    0.874016
2001-05-14   -0.669830
2001-05-15   -1.636710
2001-05-16   -0.364909
2001-05-17    0.938186
2001-05-18    1.311934
2001-05-19   -1.701857
2001-05-20   -0.288946
2001-05-21   -1.727059
2001-05-22    1.091903
2001-05-23    0.268016
2001-05-24   -0.041538
2001-05-25    1.005349
2001-05-26    0.536017
2001-05-27    1.371081
2001-05-28   -0.921312
2001-05-29    0.273872
2001-05-30   -0.353671
2001-05-31   -0.520665
Freq: D, dtype: float64

In [36]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.070464
2011-01-08    0.904105
2011-01-10    0.858410
2011-01-12    0.910831
dtype: float64

In [37]:
ts

2011-01-02    0.685289
2011-01-05    0.193150
2011-01-07    0.070464
2011-01-08    0.904105
2011-01-10    0.858410
2011-01-12    0.910831
dtype: float64

In [38]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.070464
2011-01-08    0.904105
2011-01-10    0.858410
dtype: float64

In [39]:
ts.truncate(after='1/9/2011')

2011-01-02    0.685289
2011-01-05    0.193150
2011-01-07    0.070464
2011-01-08    0.904105
dtype: float64

In [40]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

long_df = pd.DataFrame(np.random.randn(100, 4),
                      index=dates,
                      columns=['Colorado', 'Texas', 'New York', 'Ohio'])

long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.598574  0.638531  0.516811 -1.598138
2001-05-09 -1.046285  0.253217  1.262697 -0.441442
2001-05-16  0.811005 -0.404963  1.474182 -0.658577
2001-05-23 -0.357914 -1.085440  1.363046 -1.052846
2001-05-30 -1.273572  0.242618  0.119140 -1.505697

### Time Series with Duplicate Indices

In [41]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                         '1/2/2000', '1/3/2000'])

dup_ts = pd.Series(np.arange(5), index=dates)

dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [42]:
dup_ts.index.is_unique

False

In [43]:
dup_ts['1/3/2000']

4

In [44]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [45]:
grouped = dup_ts.groupby(level=0)

In [46]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [47]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 Date Ranges, Frequences, and Shifting

In [48]:
ts

2011-01-02    0.685289
2011-01-05    0.193150
2011-01-07    0.070464
2011-01-08    0.904105
2011-01-10    0.858410
2011-01-12    0.910831
dtype: float64

In [49]:
resampler = ts.resample('D')

### Generating Date Ranges

In [50]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [54]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [56]:
from pandas.tseries.offsets import Hour, Minute

hour = Hour()

hour

In [57]:
four_hours = Hour(4)

four_hours

In [58]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [59]:
Hour(2) + Minute(30)

In [60]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [61]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [62]:
ts = pd.Series(np.random.randn(4),
              index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [63]:
ts

2000-01-31    0.710644
2000-02-29   -0.550092
2000-03-31    1.069185
2000-04-30   -0.871524
Freq: M, dtype: float64

In [64]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.710644
2000-04-30   -0.550092
Freq: M, dtype: float64

In [65]:
ts.shift(-2)

2000-01-31    1.069185
2000-02-29   -0.871524
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [66]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -1.774075
2000-03-31   -2.943648
2000-04-30   -1.815129
Freq: M, dtype: float64

In [67]:
ts.shift(2, freq='M')

2000-03-31    0.710644
2000-04-30   -0.550092
2000-05-31    1.069185
2000-06-30   -0.871524
Freq: M, dtype: float64

In [68]:
ts.shift(3, freq='D')

2000-02-03    0.710644
2000-03-03   -0.550092
2000-04-03    1.069185
2000-05-03   -0.871524
dtype: float64

In [69]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.710644
2000-02-29 01:30:00   -0.550092
2000-03-31 01:30:00    1.069185
2000-04-30 01:30:00   -0.871524
dtype: float64

In [70]:
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)

now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [71]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [72]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [73]:
offset = MonthEnd()

In [74]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [75]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [76]:
ts = pd.Series(np.random.randn(20),
              index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    1.342711
2000-01-19   -0.621295
2000-01-23    1.174061
2000-01-27    0.384372
2000-01-31   -0.123438
2000-02-04   -1.917949
2000-02-08    0.136023
2000-02-12   -0.976457
2000-02-16   -1.507740
2000-02-20   -0.113309
2000-02-24   -0.540775
2000-02-28   -1.039652
2000-03-03    2.395855
2000-03-07   -1.600578
2000-03-11   -0.598263
2000-03-15   -0.022562
2000-03-19   -0.009694
2000-03-23   -0.079406
2000-03-27   -0.739142
2000-03-31   -1.104303
Freq: 4D, dtype: float64

In [77]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.431282
2000-02-29   -0.851408
2000-03-31   -0.219762
dtype: float64

In [78]:
ts.resample('M').mean()

2000-01-31    0.431282
2000-02-29   -0.851408
2000-03-31   -0.219762
Freq: M, dtype: float64

## 11.4 Times Zone Handling

In [79]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [80]:
tz = pytz.timezone('America/New_York')

tz

### Time Zome Localisation and Conversion

In [81]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

2012-03-09 09:30:00   -0.664035
2012-03-10 09:30:00    0.627723
2012-03-11 09:30:00   -0.478786
2012-03-12 09:30:00   -1.383829
2012-03-13 09:30:00    1.530391
2012-03-14 09:30:00   -2.032588
Freq: D, dtype: float64

In [82]:
print(ts.index.tz)

None

In [83]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [84]:
ts

2012-03-09 09:30:00   -0.664035
2012-03-10 09:30:00    0.627723
2012-03-11 09:30:00   -0.478786
2012-03-12 09:30:00   -1.383829
2012-03-13 09:30:00    1.530391
2012-03-14 09:30:00   -2.032588
Freq: D, dtype: float64

In [85]:
ts_utc = ts.tz_localize('UTC')

ts_utc

2012-03-09 09:30:00+00:00   -0.664035
2012-03-10 09:30:00+00:00    0.627723
2012-03-11 09:30:00+00:00   -0.478786
2012-03-12 09:30:00+00:00   -1.383829
2012-03-13 09:30:00+00:00    1.530391
2012-03-14 09:30:00+00:00   -2.032588
Freq: D, dtype: float64

In [86]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [87]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.664035
2012-03-10 04:30:00-05:00    0.627723
2012-03-11 05:30:00-04:00   -0.478786
2012-03-12 05:30:00-04:00   -1.383829
2012-03-13 05:30:00-04:00    1.530391
2012-03-14 05:30:00-04:00   -2.032588
Freq: D, dtype: float64

In [88]:
ts_eastern = ts.tz_localize('America/New_York')

ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.664035
2012-03-10 14:30:00+00:00    0.627723
2012-03-11 13:30:00+00:00   -0.478786
2012-03-12 13:30:00+00:00   -1.383829
2012-03-13 13:30:00+00:00    1.530391
2012-03-14 13:30:00+00:00   -2.032588
dtype: float64

In [89]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

### Operations with Time Zone--Aware Timestamp Objects

In [90]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [91]:
stamp_utc = stamp.tz_localize('utc')

In [92]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [93]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [94]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [95]:
stamp_utc.value

1299902400000000000

In [96]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [97]:
from pandas.tseries.offsets import Hour

In [98]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [99]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [100]:
stamp = pd.Timestamp('2012-03-04 00:30', tz='US/Eastern')

stamp

Timestamp('2012-03-04 00:30:00-0500', tz='US/Eastern')

In [101]:
stamp + 2 * Hour()

Timestamp('2012-03-04 02:30:00-0500', tz='US/Eastern')

### Operations Between Different Time Zones

In [102]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

2012-03-07 09:30:00   -0.162464
2012-03-08 09:30:00   -1.353976
2012-03-09 09:30:00   -0.545655
2012-03-12 09:30:00    0.196876
2012-03-13 09:30:00    0.468211
2012-03-14 09:30:00   -0.973903
2012-03-15 09:30:00    0.220013
2012-03-16 09:30:00    0.640214
2012-03-19 09:30:00    0.152566
2012-03-20 09:30:00    1.169039
Freq: B, dtype: float64

In [103]:
ts1 = ts[:7].tz_localize('Europe/London')

ts2 = ts1[2:].tz_convert('Europe/Moscow')

results = ts1 + ts2

results.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## 11.5 Periods and Period Arithmetic

In [104]:
p = pd.Period(2007, freq='A-DEC')

In [105]:
p

Period('2007', 'A-DEC')

In [106]:
p + 5

Period('2012', 'A-DEC')

In [107]:
p - 2

Period('2005', 'A-DEC')

In [108]:
pd.Period('2014', freq='A-DEC') - p

In [109]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [110]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [111]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -0.386353
2000-02    0.695437
2000-03    0.775201
2000-04   -0.123798
2000-05   -0.474356
2000-06    1.711912
Freq: M, dtype: float64

In [112]:
values = ['2001Q3', '2002Q2', '2003Q1']

index = pd.PeriodIndex(values, freq='Q-DEC')

index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### Period Frequency Conversion

In [113]:
p = pd.Period('2007', freq='A-DEC')

p

Period('2007', 'A-DEC')

In [114]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [115]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [116]:
p = pd.Period('2007', freq='A-JUN')

In [117]:
p

Period('2007', 'A-JUN')

In [118]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [119]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [120]:
p = pd.Period('Aug-2007', 'M')

In [121]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [122]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

2006    1.594071
2007    0.384379
2008   -0.865529
2009   -1.620536
Freq: A-DEC, dtype: float64

In [123]:
ts.asfreq('M', how='start')

2006-01    1.594071
2007-01    0.384379
2008-01   -0.865529
2009-01   -1.620536
Freq: M, dtype: float64

In [124]:
ts.asfreq('B', how='end')

2006-12-29    1.594071
2007-12-31    0.384379
2008-12-31   -0.865529
2009-12-31   -1.620536
Freq: B, dtype: float64

#### Quarterly Period Frequencies

In [125]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [126]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [127]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [128]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm

Period('2012-01-30 16:00', 'T')

In [129]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [131]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

ts = pd.Series(np.arange(len(rng)), index=rng)

ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [132]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

ts.index = new_rng.to_timestamp()

ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

#### Converting Timestampes to Periods (and Back)

In [133]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

ts = pd.Series(np.random.randn(3), index=rng)

ts

2000-01-31   -0.579506
2000-02-29   -1.893426
2000-03-31   -0.245657
Freq: M, dtype: float64

In [134]:
pts = ts.to_period()

pts

2000-01   -0.579506
2000-02   -1.893426
2000-03   -0.245657
Freq: M, dtype: float64

In [135]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')

ts2 = pd.Series(np.random.randn(6), index=rng)

ts2

2000-01-29    0.655078
2000-01-30    1.683153
2000-01-31    0.480148
2000-02-01   -0.645464
2000-02-02    1.674852
2000-02-03   -0.095737
Freq: D, dtype: float64

In [136]:
ts2.to_period()

2000-01-29    0.655078
2000-01-30    1.683153
2000-01-31    0.480148
2000-02-01   -0.645464
2000-02-02    1.674852
2000-02-03   -0.095737
Freq: D, dtype: float64

In [137]:
pts = ts2.to_period()

pts

2000-01-29    0.655078
2000-01-30    1.683153
2000-01-31    0.480148
2000-02-01   -0.645464
2000-02-02    1.674852
2000-02-03   -0.095737
Freq: D, dtype: float64

In [138]:
pts.to_timestamp(how='end')

2000-01-29 23:59:59.999999999    0.655078
2000-01-30 23:59:59.999999999    1.683153
2000-01-31 23:59:59.999999999    0.480148
2000-02-01 23:59:59.999999999   -0.645464
2000-02-02 23:59:59.999999999    1.674852
2000-02-03 23:59:59.999999999   -0.095737
Freq: D, dtype: float64

#### Creating a PeriodIndex from Arrays

In [139]:
data = pd.read_csv('examples/examples/macrodata.csv')

In [140]:
data.head()

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [141]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [142]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
      ...
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [143]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')

index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [144]:
data.index = index

In [146]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

## 11.6 Resampling and Frequency Conversion